<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <div id='card' class="animated fadeIn">
      <div id='upper-side'>
        <img id="checkmark" src="assets/img/time.png"  />
        <h3 id='status'>
          Estamos processando seu pagamento!
        </h3>
      </div>
      <div id='lower-side'>
        <p id='message'>
          Caso não consiga consultar o certificado dentro de 1 hora (exceto para boletos, que duram até 48 horas),
          Verifique se foi debitado do seu cartão de crédito ou conta bancária.
          Ou entre em contato com nosso suporte!
        </p>
        <a href="#" id="contBtn" (click)="toHome($event)">Continuar</a>
      </div>
    </div>
  </div>
  <div class="col-1">
  </div>
</div>
