<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <div id='card' class="animated fadeIn">
      <div id='upper-side'>
        <img id="checkmark" src="assets/img/cancel.png"  />
        <h3 id='status'>
          Ops! Algo deu errado!
        </h3>
      </div>
      <div id='lower-side'>
        <p id='message'>
          Falhou, seu pagamento não foi realizado,
          tente com outro meio.
          Ou entre em contato com nosso suporte!
        </p>
        <a href="#" id="contBtn" (click)="toHome($event)">Continuar</a>
      </div>
    </div>
  </div>
  <div class="col-1">
  </div>
</div>
