<footer class="main-footer fixed-bottom" style="background-color: #1b1a24;top: 16%;  margin-top:1em;
padding:10px 5px;  position: relative;">
  <nav class="navbar">

    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <span style="color: #e5f31f; text-align: center;">Suporte: (82) 9 9608-6308 </span>
      </div>
      <div class="col-sm-12 col-lg-6">
        <span style="color: #e5f31f; text-align: center;">mariedsonjunior10@gmail.com</span>
      </div>
    </div>

    <div class="container">


      <style>
        #imagem_whats {
          position: fixed;
          right: 0;
          bottom: 0;
          display: block;
          cursor: pointer;
          z-index: 9999999;
          float: right;
          width: 100px
        }

        #imagem_whats2 {
          position: fixed;
          right: 0;
          bottom: 0;
          display: block;
          cursor: pointer;
          z-index: 9999999;
          float: right;
          display: none
        }

        @media only screen and (max-width: 700px) and (min-width: 100px) {
          #imagem_whats {
            display: none;
            width: 100px;
          }

          #imagem_whats2 {
            display: block;
            width: 80px;
          }
        }
      </style>
      <img id="imagem_whats" src="https://www.ellodigital.com.br/images/whatsapp.png"
        onClick="window.open('https://wa.me/message/QMRI7YI2CDDMP1', '_blank');"><img id="imagem_whats2"
        src="https://www.ellodigital.com.br/images/whatsapp.png"
        onClick="window.open('https://wa.me/message/QMRI7YI2CDDMP1', '_blank');">
    </div>
  </nav>
  <div class="float-right d-none d-sm-block">
    <b>Version</b> {{ appVersion }}
  </div>
  <strong>Copyright &copy; 2014-2021
    <a href="#" style="color: #ec4f4f;">ClubeDaAnatomia</a>.</strong>
  Todos os direitos reservados.
</footer>



<!-- <footer class="footer">

  <div class="container-fluid mt-12">
    <div class="card mx-12">
      <div class="row mb-4 ">
        <div class="col-md-4 col-sm-11 col-xs-11">
          <div class="footer-text pull-left">
            <div class="d-flex">
              <img src="../../../../assets/img/logo_350.jpg" style="width: 100px;" />
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi non pariatur numquam
              animi nam at impedit odit nisi.</p>
            <div class="social mt-1 mb-1">
              <i class="fab fa-whatsapp fa-lg"></i>
              <i class="fab fa-instagram fa-lg"></i>
              <i class="fab fa-youtube fa-lg"></i>


            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-1 col-xs-1 mb-2"></div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <h5 class="heading">Informações</h5>
          <ul>
            <li><a href="#">Quem Somos</a></li>
            <li><a href="#">Fale Conosco</a></li>
            <li><a href="#">Perguntas Frequentes</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <h5 class="heading">Políticas</h5>
          <ul class="card-text">
            <li><a href="#">Políticas de Privacidade</a></li>
            <li><a href="#">Política de Reembolso</a></li>
            <li><a href="#">Termos de Uso</a></li>
            <li><a href="#">Termos de serviço</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <h5 class="heading">Menu</h5>
          <ul class="card-text">
            <li><a href="#">Home</a></li>
            <li><a href="#" (click)=" goAdminRoot($event)">Área de Membros</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </div>
      </div>
      <div class="divider mb-4"> </div>
      <div class="row" style="font-size:10px;">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="pull-left">
            <p><i class="fa fa-copyright"></i> 2014 - {{anoAtual}} ClubeDaanAtomia</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="pull-right mr-4 d-flex policy">
            <div>Terms of Use</div>
            <div>Privacy Policy</div>
            <div>Cookie Policy</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer> -->
